workflowstransecript prototype.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "rename",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Audio Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Audio Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorization": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger2": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "human in the loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human in the loop": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "optimization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "optimization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thank the clint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "optimization": {
      "main": [
        [
          {
            "node": "Send an optimized message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-25T05:46:48.732Z",
  "id": "Q7FsRVo29lPcEh1d",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "transecript prototype",
  "nodes": [
    {
      "parameters": {
        "chunkSize": 25
      },
      "type": "n8n-nodes-splitaudio.splitAudio",
      "typeVersion": 1,
      "position": [
        480,
        -208
      ],
      "id": "b511252d-3c89-4480-99ad-40568af3e598",
      "name": "Audio Split"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11iv08a0jJbVHljGZtNwnj1vrfXes5r3d",
          "mode": "list",
          "cachedResultName": "audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11iv08a0jJbVHljGZtNwnj1vrfXes5r3d"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -208
      ],
      "id": "93087901-05de-455f-802e-e6d6bcad2d87",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -208
      ],
      "id": "fcafbb74-6342-4a84-acd6-9ab4944c0e1b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f776ab8-14e0-4726-ad5b-97e18afef456",
              "name": "data",
              "value": "={{ $binary.data }}",
              "type": "binary"
            },
            {
              "id": "a18b6f4a-704d-410a-87a3-0489a67eb4f9",
              "name": "name",
              "value": "={{ $('Google Drive Trigger').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -208
      ],
      "id": "6280b069-8849-4353-8d0b-5313e2443c23",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Check if binary data exists\nif (items[0].binary && items[0].binary.data) {\n  // Rename the file to a safe, simple name without spaces or special characters\n  items[0].binary.data.fileName = 'source_audio.wav';\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -368
      ],
      "id": "0305e39a-17d5-4c68-8c7f-ec76e87cc61a",
      "name": "rename"
    },
    {
      "parameters": {
        "command": "ffmpeg -i input_file -f segment -segment_time 30 -c copy out%03d.wav"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        -368
      ],
      "id": "dc91a1cd-5632-4d67-85e5-369b3812ad98",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        240
      ],
      "id": "b3dfac5a-1247-4723-be57-e417e56dd9dd",
      "name": "Authorization",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OOQIUgXjyklwkRWh",
          "name": "Authorization"
        }
      }
    },
    {
      "parameters": {
        "command": "ffmpeg -i /tmp/input_audio.mp3 -f segment -segment_time 60 -c copy /tmp/output_%03d.wav"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        352,
        16
      ],
      "id": "6ba7a421-41dc-476d-b918-5a01f2ff5a11",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/output_*.wav",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -256,
        240
      ],
      "id": "e303604a-2d85-464f-9897-5d3b65d57c43",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/input_audio.wav",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        144,
        16
      ],
      "id": "61c9172c-fac7-492a-80c6-ebf1aa292b58",
      "name": "Write Files from Disk"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11iv08a0jJbVHljGZtNwnj1vrfXes5r3d",
          "mode": "list",
          "cachedResultName": "audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11iv08a0jJbVHljGZtNwnj1vrfXes5r3d"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        16
      ],
      "id": "75efec99-b4eb-4937-9c3a-d4977a894b30",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        16
      ],
      "id": "852e83f6-68d3-44c1-a88e-0845673844de",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11iv08a0jJbVHljGZtNwnj1vrfXes5r3d",
          "mode": "list",
          "cachedResultName": "audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11iv08a0jJbVHljGZtNwnj1vrfXes5r3d"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        672
      ],
      "id": "722330ea-337c-48eb-ae7b-2e5953c9c4d6",
      "name": "Google Drive Trigger2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        672
      ],
      "id": "e1785c79-472b-4d3a-9616-3e90acd749a5",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        48,
        672
      ],
      "id": "0d85677f-0dc3-4513-a7d3-93f8a100be2d",
      "name": "Transcribe audio",
      "credentials": {
        "elevenLabsApi": {
          "id": "2IlJ0UV7CwFeBuic",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6526726666",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        240
      ],
      "id": "d319076f-2a35-405c-b883-d508baad9066",
      "name": "Send a text message",
      "webhookId": "8078b984-1c4c-4d0a-a559-f54a4695336b",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6526726666",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        672
      ],
      "id": "19dd4fad-8e25-4dcf-9885-fa570245387d",
      "name": "Send a text message2",
      "webhookId": "8078b984-1c4c-4d0a-a559-f54a4695336b",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.result.chat.id }}",
        "message": "Please choose one of the following ",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter your choice ",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Send it to ai to optimize it"
                  },
                  {
                    "option": "You wil do it by your self"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        672
      ],
      "id": "436cc137-4c2a-43ef-a700-d8d64cf4d663",
      "name": "Send a text message3",
      "webhookId": "b611b8fb-9802-4d16-b052-afe393e7546f",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.result.chat.id }}",
        "message": "Please choose one of the following for the ai",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter your choice ",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Send it to ai to optimize it"
                  },
                  {
                    "option": "You wil do it by your self"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        240
      ],
      "id": "aba53e42-f870-49b2-8d15-68da058a9225",
      "name": "human in the loop",
      "webhookId": "b611b8fb-9802-4d16-b052-afe393e7546f",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        112
      ],
      "id": "1d24b377-54e5-403f-b79a-261776e94d48",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BydLlZ8E9UmD3tL5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "Send it to ai to optimize it",
                    "rightValue": "={{ $json.data['Enter your choice '] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a4bf7bb-d2ca-496e-8128-f2e1b3343989"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Optimization "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6394e3a9-5611-40d6-a727-3c28efb13d08",
                    "leftValue": "You wil do it by your self",
                    "rightValue": "={{ $json.data['Enter your choice '] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send it now"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        560,
        240
      ],
      "id": "bef79517-38c2-42eb-969c-73b22dcd1727",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "6526726666",
        "text": "=Thank you for your time",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        320
      ],
      "id": "8a275278-421e-49ba-a208-cb084f6bd018",
      "name": "Thank the clint",
      "webhookId": "8078b984-1c4c-4d0a-a559-f54a4695336b",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Send a text message').item.json.result.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "أنت مساعد ذكي متخصص في تنظيم المحتوى وتحويل النصوص إلى ملاحظات دراسية واضحة ومنظمة.\nمهمتك هي أخذ النص التالي وتحويله إلى:\n\nعناوين رئيسية واضحة\n\nعناوين فرعية عند الحاجة\n\nنقاط مرتبة (Bullet Points)\n\nتقسيم منطقي للأفكار\n\nتلخيص الفقرات الطويلة بدون فقدان المعنى الأساسي\n\nإبراز التعريفات والمصطلحات المهمة بشكل واضح\n\nالشروط:\n\nاكتب باللغة العربية الفصحى المبسطة\n\nلا تضف معلومات من عندك، اعتمد فقط على النص المقدم\n\nاجعل التنسيق شبيه بأسلوب NotebookLM (منظم، واضح، سهل للمراجعة)\n\nإذا وجدت أمثلة أو أرقام مهمة ضعها كنقاط منفصلة\n\nإذا كان هناك مقارنة، اعرضها في نقاط متقابلة"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        912,
        -64
      ],
      "id": "01efe5c8-9b14-4e9f-89f2-39c5f2b48a7b",
      "name": "optimization"
    },
    {
      "parameters": {
        "chatId": "6526726666",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -64
      ],
      "id": "955ab331-d56c-479b-a44a-3bab000a0924",
      "name": "Send an optimized message",
      "webhookId": "8078b984-1c4c-4d0a-a559-f54a4695336b",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.data.text }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "11iv08a0jJbVHljGZtNwnj1vrfXes5r3d",
          "mode": "list",
          "cachedResultName": "audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11iv08a0jJbVHljGZtNwnj1vrfXes5r3d"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        304
      ],
      "id": "a46054c5-6000-4087-b001-9c6f5895512e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6526726666",
        "message": "yie",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "now",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        304
      ],
      "id": "2e34bc3d-164a-4edf-9929-5f4c618c4c29",
      "name": "Send a text message1",
      "webhookId": "4551dbef-5090-4897-b9ad-95b51e292524",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        304
      ],
      "id": "9b5228c0-3d13-4c70-979a-0d46e4da6595",
      "name": "Telegram Trigger1",
      "webhookId": "5abf590c-2cde-43b7-87e9-7be155312ad8",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-25T05:46:48.741Z",
      "updatedAt": "2026-01-25T05:46:48.741Z",
      "role": "workflow:owner",
      "workflowId": "Q7FsRVo29lPcEh1d",
      "projectId": "MwHoDPY5SoqTt3hY"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-10T13:27:35.289Z",
      "updatedAt": "2026-02-10T13:27:35.289Z",
      "id": "BUUD5MVFJ2DDcde7",
      "name": "Prototype"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-10T13:27:41.000Z",
  "versionId": "f464ea3d-5791-4a66-ac63-d197b30e1254"
}