workflowsTranscript.json
{
  "active": false,
  "connections": {
    "Transcribe audio1": {
      "main": [
        [
          {
            "node": "human in the loop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message8": {
      "main": [
        [
          {
            "node": "Transcribe audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "optimization2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "optimization2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "optimization2": {
      "main": [
        [
          {
            "node": "Send an optimized message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human in the loop2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-09T09:11:09.540Z",
  "id": "Wh0csYQLTyh9LCQT",
  "isArchived": false,
  "meta": null,
  "name": "Transcript",
  "nodes": [
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "file": "audio",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -400,
        80
      ],
      "id": "07dbc6dd-1407-4e21-8bb1-5ab9c106da0e",
      "name": "Transcribe audio1",
      "credentials": {
        "elevenLabsApi": {
          "id": "2IlJ0UV7CwFeBuic",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6526726666",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        288
      ],
      "id": "25ce510f-347c-4f4d-8390-39f300141d4c",
      "name": "Send a text message6",
      "webhookId": "8078b984-1c4c-4d0a-a559-f54a4695336b",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "yie",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "audio",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        80
      ],
      "id": "2d6575c2-540f-4faf-95e6-e17b2b676aee",
      "name": "Send a text message8",
      "webhookId": "4551dbef-5090-4897-b9ad-95b51e292524",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        80
      ],
      "id": "52bac7eb-1253-4725-881a-d0f35955ec85",
      "name": "Telegram Trigger1",
      "webhookId": "5abf590c-2cde-43b7-87e9-7be155312ad8",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        144
      ],
      "id": "20e7e664-3ab8-41ee-9355-2cd40846d673",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "BydLlZ8E9UmD3tL5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "Send it to ai to optimize it",
                    "rightValue": "={{ $json.data['Enter your choice '] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a4bf7bb-d2ca-496e-8128-f2e1b3343989"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Optimization "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6394e3a9-5611-40d6-a727-3c28efb13d08",
                    "leftValue": "You wil do it by your self",
                    "rightValue": "={{ $json.data['Enter your choice '] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send it now"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        112,
        80
      ],
      "id": "664bece3-e445-4c0d-805d-66b5bc47619b",
      "name": "Switch2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transcribe audio1').item.json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "أنت مساعد ذكي متخصص في تنظيم المحتوى وتحويل النصوص إلى ملاحظات دراسية واضحة ومنظمة.\nمهمتك هي أخذ النص التالي وتحويله إلى:\n\nعناوين رئيسية واضحة\n\nعناوين فرعية عند الحاجة\n\nنقاط مرتبة (Bullet Points)\n\nتقسيم منطقي للأفكار\n\nتلخيص الفقرات الطويلة بدون فقدان المعنى الأساسي\n\nإبراز التعريفات والمصطلحات المهمة بشكل واضح\n\nالشروط:\n\nاكتب باللغة العربية الفصحى المبسطة\n\nلا تضف معلومات من عندك، اعتمد فقط على النص المقدم\n\nاجعل التنسيق شبيه بأسلوب NotebookLM (منظم، واضح، سهل للمراجعة)\n\nإذا وجدت أمثلة أو أرقام مهمة ضعها كنقاط منفصلة\n\nإذا كان هناك مقارنة، اعرضها في نقاط متقابلة"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        368,
        -32
      ],
      "id": "4c8d1f97-09f1-46c1-a0ae-3799fae97901",
      "name": "optimization2"
    },
    {
      "parameters": {
        "chatId": "6526726666",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -32
      ],
      "id": "5ace69da-1288-42c0-b286-3f915013f232",
      "name": "Send an optimized message2",
      "webhookId": "8078b984-1c4c-4d0a-a559-f54a4695336b",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "message": "Please choose one of the following for the ai",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter your choice ",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Send it to ai to optimize it"
                  },
                  {
                    "option": "You wil do it by your self"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        80
      ],
      "id": "e623307f-7b52-4bf4-aeb0-5ba6aeb76616",
      "name": "human in the loop2",
      "webhookId": "b611b8fb-9802-4d16-b052-afe393e7546f",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-09T09:11:09.561Z",
      "updatedAt": "2026-02-09T09:11:09.561Z",
      "role": "workflow:owner",
      "workflowId": "Wh0csYQLTyh9LCQT",
      "projectId": "MwHoDPY5SoqTt3hY"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-09T09:11:24.286Z",
      "updatedAt": "2026-02-09T09:11:24.286Z",
      "id": "3tbMFQhctP9UknU5",
      "name": "AI"
    },
    {
      "createdAt": "2026-02-09T09:11:18.276Z",
      "updatedAt": "2026-02-09T09:11:18.276Z",
      "id": "yQIVzhQcFfTzhUit",
      "name": "Telegram"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-09T09:11:25.000Z",
  "versionId": "56d2a7c5-f685-4f81-b5b6-afbb513f86a7"
}