workflows/RAG Pipeline & Chatbot.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "about_the_restaurant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "make_an_order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "code_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "about_the_restaurant": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make_an_order": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancel_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-10T14:27:36.921Z",
  "id": "xr3si0Z7R5jRek1L",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        544
      ],
      "id": "31279bd5-5043-4f38-a405-2afe6c4bbc29",
      "name": "Telegram Trigger",
      "webhookId": "5da229ea-68e9-4460-8115-9adf28560975",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_input }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI assistant for a restaurant.\n\nYour task is to classify the user's message into one of these intents:\n- about_restaurant (questions about location, opening hours, menu, contact info, etc.)\n- make_order (if the user wants to order food)\n- general (any other conversation)\n\nYou must respond ONLY in valid JSON format.\nDo not write any text outside the JSON.\nDo not explain anything.\n\nThe JSON must follow this structure:\n{\n  \"intent\": \"about_restaurant\" | \"make_order\" | \"general\",\n  \"message\": \"your helpful response to the user\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1008,
        1304
      ],
      "id": "dd4fa143-9b1a-4671-9be5-ecdcb39e0ca2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openrouter/auto",
        "options": {
          "maxTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1000,
        1528
      ],
      "id": "e0afe14a-42a4-48b6-981f-391ebf518577",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BydLlZ8E9UmD3tL5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.user_input }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        544
      ],
      "id": "185b2f8f-ff84-49e8-9df7-b2ec3ac3bad0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with your data in Supabase Vector Store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        496,
        768
      ],
      "id": "02c82aa2-fb33-49b7-82bc-458d27c360fe",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Ch7rRX3l86usuSyI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        768
      ],
      "id": "9c29296e-d50e-4d8f-b8de-4087d469bf2f",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "BydLlZ8E9UmD3tL5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.chatIdString }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        768
      ],
      "id": "bfc5eee4-1d63-4313-81a4-bfa54b7aa2ed",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        976
      ],
      "id": "66e87312-bbd1-4409-997a-617b72f7ecb2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1HJaudB3areCyCo3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12VgXG5L4kSspWp9gOmqciAkf4vk6Q_ff",
          "mode": "list",
          "cachedResultName": "ai automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12VgXG5L4kSspWp9gOmqciAkf4vk6Q_ff"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -96
      ],
      "id": "eb45a09c-5c4b-4bf6-a645-be42583f6451",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9229378e-3131-4325-9933-42da70bd9c1f",
              "name": "file",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -96
      ],
      "id": "14f55f64-594e-44df-bdec-5a28c2f96ec6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        -96
      ],
      "id": "2a12d213-8a6a-4acf-b3a5-bad60e29d529",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8SxHxmWTxXwApcrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -304,
        -304
      ],
      "id": "9e967a75-d116-410f-b4b8-bd24e0c18fb6",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Ch7rRX3l86usuSyI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        -80
      ],
      "id": "1617e68f-24ce-4605-a433-95a59ac45ce7",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "1HJaudB3areCyCo3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "about_the_restaurant",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "dae10cf2-9f6a-4a6c-96d9-0ed03ea38ba8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "about the restaurant"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe12b07d-d7fa-43c6-9727-5dde30b1e958",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "make_an_order",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=make an order "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e18b2a7c-b009-483b-bc3f-1666531a2fec",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -208,
        528
      ],
      "id": "a4d570b1-0155-4cd8-860a-39f955c7a155",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -128,
        128
      ],
      "id": "680e5eda-a539-460b-ba14-ee027ff07f7b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -208,
        -80
      ],
      "id": "bb6a0bfe-e9a0-4001-b37f-36bd57f43f4d",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "jsCode": "// Generates a random 4-digit ID (e.g., 4052)\nconst orderId = Math.floor(1000 + Math.random() * 9000);\n\nreturn {\n  response: JSON.stringify({ order_id: orderId })\n};"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        784,
        768
      ],
      "id": "fd738095-bb8e-4e8b-bcf3-20b97d4c0a34",
      "name": "code_tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bc9012-6ef9-4a6d-8968-f7cc4f6a390a",
              "name": "prompt",
              "value": "\"ACT AS: An Expert Restaurant Knowledge Base.\n\nSTRICT SOURCE CONTROL:\n\nYou have NO internal knowledge of restaurants.\n\nEvery answer MUST be sourced from the Supabase Vector Store.\n\nQuery the store for: Menu details, Ingredients, Opening Hours, Location/Address, and Parking info.\n\nINTERACTION LOGIC:\n\nIf the user's question is vague, use Supabase Vector Store to find related categories and ask for clarification.\n\nFormat the output clearly using bullet points for readability.\n\nUse the message_Sender tool to transmit the final formatted answer to the user.\n\nIf the user transitions to ordering, immediately suggest they say 'I want to place an order' to switch modes.\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        352
      ],
      "id": "216a1af0-9620-4d5b-9c89-158cb689bee7",
      "name": "about_the_restaurant"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bc9012-6ef9-4a6d-8968-f7cc4f6a390a",
              "name": "prompt",
              "value": "Role\n\nYou are a Restaurant Order Management Agent. Your job: accept customer messages, extract structured order data, generate an order number, save orders to Google Sheets, update or cancel orders, and reply clearly and briefly to customers.\n\nContext\n\nOrders are stored in Google Sheets with these exact columns (case-sensitive):\n\nitem\nclint\ndate\nphone\nstatuse\norder number\naddress\n\nThe embedding system already exists; you ONLY query it to match user text to menu items (do NOT write embeddings).\n\ncode_tool is responsible for generating the order number and formatting dates.\n\nYou must never expose internal tool logs, raw embeddings, or DB keys.\n\nTools\n\nGoogle Sheets — store and read orders (via add_order, get_orders, update_order, cancel_order sheet nodes).\n\nSupabase Vector Store — use only for querying existing item embeddings (read-only).\n\nGoogle Gemini — the embeddings provider used to convert user text for similarity matching (read-only).\n\nOpenRouter Chat Model — LLM interface for paraphrasing or clarifying user text when needed.\n\ncode_tool — generate order number, format date, and run deterministic business logic (totals, taxes).\n\nadd_order — append a row to the Google Sheet. Must send exactly the sheet-column keys shown above.\n\nget_orders — read orders by phone or order number.\n\nupdate_order — modify item, statuse, address, etc.\n\ncancel_order — set statuse to cancelled and optionally include a reason.\n\nRequired behavior / Rules\n\nMandatory fields: Never create an order unless you have item, clint (name), phone, and address.\n\nOne question only: If any mandatory field is missing, ask exactly one clear question to collect it. Do not create the order before receiving it.\n\nUse embeddings to match items: Query the embeddings system (read-only) to map free text → canonical menu item. If top-match confidence is low, show the matched item and price and ask a single confirmation question.\n\nGenerate order number & date: Before saving, call code_tool to produce order number and formatted date. Use those exact values in the sheet row.\n\nSheet row format: Save orders with these exact keys: item, clint, date, phone, statuse, order number, address. Example row payload (JSON) you must send to add_order:\n\n{\n  \"item\": \"Large Chicken Pizza x2\",\n  \"clint\": \"Ahmed Ali\",\n  \"date\": \"2026-02-16\",\n  \"phone\": \"01001234567\",\n  \"statuse\": \"confirmed\",\n  \"order number\": \"ORD-20260216-7421\",\n  \"address\": \"12 Street Nasr City\"\n}\n\nStatus values only: pending, confirmed, preparing, delivered, cancelled. Use exactly these strings.\n\nConfirm before save: Always confirm the extracted order summary with the user (max two short sentences) before calling add_order.\n\nModify / cancel flow: For updates or cancellations call get_orders → verify by order number or phone → call update_order or cancel_order. Confirm the result to the user in one short message.\n\nIdempotency: Detect obvious duplicates (same phone + identical items within recent timeframe). If detected, ask “Is this a new order or a repeat?” (one question).\n\nTool failures: If a tool call fails, apologize briefly, attempt one retry, and store a short failure note in short-term memory (do not reveal internals to the user).\n\nConcise replies: Customer-facing messages must be at most two sentences and formal. Example: “Order confirmed — ORD-20260216-7421. Total EGP 228. Pickup in 20–25 minutes.”\n\nPrivacy: Never disclose internal payloads, embeddings, keys, or logs to users.\n\nExamples (copy-ready sequences)\n\nNew order — user message\n\"I want 2 large chicken pizzas to 12 Street Nasr City. My name is Ahmed and my phone is 01001234567\"\n\nAgent steps (sequence to perform):\n\nQuery embeddings to match “large chicken pizza” → get canonical item name/price.\n\nIf match confidence high → summarize and ask confirmation:\n\nCustomer message: “Confirming: 2 Large Chicken Pizzas to 12 Street Nasr City for Ahmed (01001234567). Confirm to place order?”\n\nOn user confirmation → call code_tool to generate_order_id() and get date.\n\nCall add_order with the exact sheet row JSON (see rule 5).\n\nReply: “Order confirmed — ORD-20260216-7421. Total EGP 228. Pickup in 20–25 minutes.”\n\nCancel order — user message\n\"Cancel order ORD-20260216-7421\"\n\nAgent steps:\n\nget_orders by order number → verify.\n\ncancel_order with statuse = cancelled.\n\nReply: “Your order ORD-20260216-7421 has been cancelled.”\n\nUpdate address — user message\n\"Change address for ORD-20260216-7421 to 5 Abbas El Akkad\"\n\nAgent steps:\n\nget_orders → verify.\n\nupdate_order with new address.\n\nReply: “Address updated for ORD-20260216-7421.”",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        544
      ],
      "id": "520be5c5-f95a-45ff-a851-09b5beb35d84",
      "name": "make_an_order"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo",
          "mode": "list",
          "cachedResultName": "salta3-order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "order number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_number__using_to_match_', ``, 'string') }}",
            "statuse": "canceled"
          },
          "matchingColumns": [
            "order number"
          ],
          "schema": [
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clint",
              "displayName": "clint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "statuse",
              "displayName": "statuse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order number",
              "displayName": "order number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        912,
        768
      ],
      "id": "5b70966e-c5d1-4ff6-a615-e71affdbe782",
      "name": "cancel_order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jswbWXHZkD3ZW84V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo",
          "mode": "list",
          "cachedResultName": "salta3-order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('item', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "statuse": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('statuse', ``, 'string') }}",
            "order number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_number', ``, 'string') }}",
            "clint": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clint', ``, 'string') }}",
            "address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('address', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clint",
              "displayName": "clint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "statuse",
              "displayName": "statuse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order number",
              "displayName": "order number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1040,
        768
      ],
      "id": "c1738c82-5186-4015-8f93-10b04ab9169d",
      "name": "add_order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jswbWXHZkD3ZW84V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo",
          "mode": "list",
          "cachedResultName": "salta3-order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "order number",
              "lookupValue": "={{ $fromAI (\"order_id\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1168,
        768
      ],
      "id": "46dc17bb-a93f-4101-9cc8-2206e70f150b",
      "name": "get_orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jswbWXHZkD3ZW84V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo",
          "mode": "list",
          "cachedResultName": "salta3-order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yoru_MhVGFFdDgg_8axXbz_HZVR_OKTP_DS5WtnlpNo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "order number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_number__using_to_match_', ``, 'string') }}",
            "item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('item', ``, 'string') }}"
          },
          "matchingColumns": [
            "order number"
          ],
          "schema": [
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clint",
              "displayName": "clint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "statuse",
              "displayName": "statuse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order number",
              "displayName": "order number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1296,
        768
      ],
      "id": "95fb6beb-31c5-4949-8acd-c7ed85794b99",
      "name": "update_order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jswbWXHZkD3ZW84V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cee265c-1305-47a4-b914-15bb9485c8a6",
              "name": "=chatIdString",
              "value": "={{ $json.message.chat.id.toString() }}",
              "type": "string"
            },
            {
              "id": "c5ace540-a35b-4b1c-8033-5cab3817f363",
              "name": "user_input",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        544
      ],
      "id": "b9ac0f99-7dc1-4ebb-943a-8230db855e8f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bc9012-6ef9-4a6d-8968-f7cc4f6a390a",
              "name": "prompt",
              "value": "You are a friendly greeting assistant.\n\nInstructions:\n\nGreet the user.\n\nInform them you can help with 'Orders' or 'Restaurant Information'.\n\nUse the message_Sender tool to send this greeting to their Telegram.\n\nDo not perform any database actions here.\nTools\n\nGoogle Sheets — store and read orders (via add_order, get_orders, update_order, cancel_order sheet nodes).\n\nSupabase Vector Store — use only for querying existing item embeddings (read-only).\n\nGoogle Gemini — the embeddings provider used to convert user text for similarity matching (read-only).\n\nOpenRouter Chat Model — LLM interface for paraphrasing or clarifying user text when needed.\n\ncode_tool — generate order number, format date, and run deterministic business logic (totals, taxes).\n\nadd_order — append a row to the Google Sheet. Must send exactly the sheet-column keys shown above.\n\nget_orders — read orders by phone or order number.\n\nupdate_order — modify item, statuse, address, etc.\n\ncancel_order — set statuse to cancelled and optionally include a reason.\n\nRequired behavior / Rules\n\nMandatory fields: Never create an order unless you have item, clint (name), phone, and address.\n\nOne question only: If any mandatory field is missing, ask exactly one clear question to collect it. Do not create the order before receiving it.\n\nUse embeddings to match items: Query the embeddings system (read-only) to map free text → canonical menu item. If top-match confidence is low, show the matched item and price and ask a single confirmation question.\n\nGenerate order number & date: Before saving, call code_tool to produce order number and formatted date. Use those exact values in the sheet row.\n\nSheet row format: Save orders with these exact keys: item, clint, date, phone, statuse, order number, address.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        736
      ],
      "id": "1fd6aba7-9fe0-488f-b8d6-fc4fa2da61e4",
      "name": "General"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chatIdString }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        544
      ],
      "id": "2ff84065-5eee-4562-a90b-e92f95f5c108",
      "name": "Send a text message",
      "webhookId": "01d195a0-8728-453c-a022-525c3b11aa70",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intent\": {\n      \"type\": \"string\",\n      \"enum\": [\"about_restaurant\", \"make_order\", \"general\"]\n    },\n    \"message\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"intent\", \"message\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -872,
        1528
      ],
      "id": "773f0069-aa95-470a-857b-42b0dbd8b19f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_input }}",
        "messages": {
          "messageValues": [
            {
              "message": "Classify the user message into ONE of these labels:\nabout_the_restaurant: if the user asked anything about the restaurant.\nmake_an_order: if the user asked anything about the orders or the menu.\ngeneral: anything else.\n\nAlways output the nearest one from them.\nIf your user did not match about_the_restaurant or make_an_order, respond with \"general\".\nDon`t make an empty output.\nIf the user tell you his name, number, address, respond with \"make_an_order\".  \n\nRespond with ONLY the label.\nNo explanation.\nNo JSON.\nNo extra text.\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -560,
        544
      ],
      "id": "dca10ffd-f6be-4fac-a41a-fd15b923ee2c",
      "name": "Basic LLM Chain1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "maxTokens": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -488,
        768
      ],
      "id": "ca569332-b414-4577-a2e0-c6c390f2c8d1",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "BydLlZ8E9UmD3tL5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1008,
        976
      ],
      "id": "8eff6969-5a8f-4d13-af41-60972c9333ed",
      "name": "When chat message received",
      "webhookId": "9126da0e-f02d-48d8-9a92-72318c46bc0e"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-10T14:27:36.928Z",
      "updatedAt": "2026-02-10T14:27:36.928Z",
      "role": "workflow:owner",
      "workflowId": "xr3si0Z7R5jRek1L",
      "projectId": "MwHoDPY5SoqTt3hY"
    }
  ],
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-02-15T09:30:08Z"
    }
  },
  "tags": [
    {
      "createdAt": "2026-02-09T09:11:24.286Z",
      "updatedAt": "2026-02-09T09:11:24.286Z",
      "id": "3tbMFQhctP9UknU5",
      "name": "AI"
    },
    {
      "createdAt": "2026-02-10T14:27:54.771Z",
      "updatedAt": "2026-02-10T14:27:54.771Z",
      "id": "mYPlWdqtyjfPhH8e",
      "name": "database"
    },
    {
      "createdAt": "2026-02-09T09:11:18.276Z",
      "updatedAt": "2026-02-09T09:11:18.276Z",
      "id": "yQIVzhQcFfTzhUit",
      "name": "Telegram"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-02-16T08:26:24.000Z",
  "versionId": "9634674a-10c1-4b8d-9f0f-259d7270705f"
}