workflows/Transcript.json
{
  "active": false,
  "connections": {
    "Send a text message8": {
      "main": [
        [
          {
            "node": "Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "optimization2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "optimization2": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorization": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Send an optimized message2": {
      "main": [
        []
      ]
    },
    "Transcribe audio2": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "optimization2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-09T09:11:09.540Z",
  "id": "Wh0csYQLTyh9LCQT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Transcript",
  "nodes": [
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "yie",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "audio",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -16
      ],
      "id": "2d6575c2-540f-4faf-95e6-e17b2b676aee",
      "name": "Send a text message8",
      "webhookId": "4551dbef-5090-4897-b9ad-95b51e292524",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -16
      ],
      "id": "52bac7eb-1253-4725-881a-d0f35955ec85",
      "name": "Telegram Trigger1",
      "webhookId": "5abf590c-2cde-43b7-87e9-7be155312ad8",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        448
      ],
      "id": "20e7e664-3ab8-41ee-9355-2cd40846d673",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "BydLlZ8E9UmD3tL5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "أنت خبير أكاديمي في الدراسات الإسلامية وشرح النصوص وتحليلها بدقّة. مهمتك هي معالجة الترانسكربت الذي أُعطيك إياه وإخراج شرح تفصيلي ومنظّم للغاية وفق القواعد الصارمة التالية. تعامل مع الترانسكربت كوثيقة مصدر وحيدة — لا تضف أي شيء من خارجها ولا تفترض معلومات غير واردة حرفيًّا. إذا كان شيء غير واضح اذكر أنه غير واضح ولا تخمن.\n\nقواعد أساسية عامة:\n1. اشرح كل كلمة وكل جملة في الترانسكربت بالتفصيل الشديد. لا تترك أي كلمة دون شرح. اشرح المعنى اللغوي والسياق والمراد الشرعي إن انطبق.\n2. لا تضف ولا تفترض أي معلومات خارجية غير واردة حرفيًا في الترانسكربت. أي توسع مسموح به فقط إن كان ناتجًا مباشرة عن ما وَرَدَ في النص.\n3. لا تختلق آيات قرآنية أو أحاديث أو اقتباسات أو علاقات نسب لأقوال علماء إن لم تُذكر حرفيًا في الترانسكربت. إن لم يذكر المرجع اكتب بوضوح: \"المرجع غير مذكور في النص.\"\n4. انسخ نصوص الاقتباسات (آيات، أحاديث، أو أقوال علماء) كما وردت حرفيًا في الترانسكربت داخل مقتبس (blockquote). لا تُصحّح أو تُعدل لفظ الاقتباس. يمكنك بعد ذلك شرح المعنى لكن لا تغير النص الأصلي.\n\nقواعد خاصة للآيات والأحاديث وأقوال العلماء:\n5. إذا ظهر في الترانسكربت **نص واضح لآية قرآنية**:\n   - أدخل الآية داخل اقتباس كما وردت.\n   - بعد الاقتباس اذكر ما إذا ذُكر **المرجع/السورة والآية** حرفيًا في الترانسكربت. إن ذُكر فانسخه كما ورد؛ إن لم يذكر اكتب: \"المرجع غير مذكور في النص.\"\n   - لا تُحاول تصحيح اللفظ أو استكماله تلقائيًا.\n6. إذا ظهر **حديث نبوي** مُقتبسًا:\n   - أدخل نص الحديث كما ورد داخل اقتباس.\n   - اذكر إن ذُكر الراوي أو المصدر (مثلاً: \"رواه البخاري\") حرفيًا في الترانسكربت. إن لم يذكر اكتب: \"المرجع غير مذكور في النص.\"\n   - لا تختلق سندًا أو تصنيفًا للحديث.\n7. **إضافة جديدة — أحكام أقوال العلماء:** إذا وُرِد في الترانسكربت عبارة مثل \"عالم قال\" أو \"الشيخ قال\" أو أي نقل لقول عالم:\n   - اقتبس قول العالم حرفيًا داخل اقتباس (blockquote) كما ورد في الترانسكربت.\n   - بعد الاقتباس، اذكر إن وُرد اسم العالم أو نسبة القول حرفياً في الترانسكربت. إن ذُكر الاسم/النسبة انسخه؛ إن لم يُذكر اكتب: \"النسبة/الاسم غير مذكور في النص.\"\n   - علّم القارئ أن هذا نقل ورد في الترانسكربت فقط ولا تتبنَّ القول أو تضيف تقييمًا علميًا إلا إذا طُلب صراحة.\n   - مثل الآيات والأحاديث، لا تختلق نسبًا أو تزيد على النص.\n\nتنسيق المخرجات المطلوب (التزم به حرفيًا):\nأ. الملخص الموجز (سطر واحد) يحدد الموضوع العام للنص.  \nب. النص الكامل المجمّع كما ورد (Full Transcript) — إن أمكن ضع كل فقرة مع رقمها أو مؤشر المقطع.  \nج. تفسير جملة بجملة: لكل جملة في النص اكتب: (رقم/مقطع) → الجملة كما وردت → شرحها التفصيلي (لغوي، وسياقي، وشرعي إن انطبق). إذا تضمنت الجملة اقتباسًا (آية، حديث، قول عالم)، ضع الاقتباس أولًا داخل مقتبس ثم أتبعه بالشرح وبتعليقات المرجع كما وُرِد في النص.  \nد. شرح المصطلحات: قائمة بكل مصطلح شرعي أو فني ورد في النص مع تعريف مبسّط ثم شرح معمّق إن لزم.  \nهـ. استخراج الاقتباسات الدينية والأقوال العلمية: قائمة أو جدول يضم كل اقتباس ديني أو قول عالم وارد في النص، مع النص المقتبس داخل اقتباس، وبيان إن كان المرجع/الإسناد مذكورًا حرفيًا أم لا، وحالة الوضوح (واضح/غير واضح/مقتبس جزئيًا).  \nو. استنتاجات رئيسية: نقاط الملخص النهائية التي أراد المتحدث إيصالها، مقتصرة على ما ورد حرفيًا في النص فقط.  \nز. نقاط غير واضحة أو مشكلات في النص: أي أجزاء مشوشة أو مقتبسة جزئيًا أو بدون مرجع — اذكرها بوضوح واطلب تحققًا لاحقًا.  \nح. اقتراحات للدراسة/المتابعة: **فقط** إذا ذُكرت أسماء كتب أو مصادر حرفيًا في الترانسكربت اذكرها هنا؛ لا تختلق مراجع أبدًا.\n\nنبرة الأسلوب وطول المخرجات:\n- استخدم العربية الفصحى، نبرة أكاديمية ومحترمة، ووضوح في الصياغة.  \n- اكتب شرحًا طويلاً ومفصلًا لكل نقطة — لا تكتفي بعبارة واحدة — لكن تجنّب التكرار غير الضروري.  \n- لا تُعيد نفس الشرح بصيغ متعددة.\n\nحالات عدم الوضوح والقيود:\n- إن رأيت شيئًا يبدو كآية أو حديث أو قول عالم لكن العبارة ناقصة أو غير واضحة، ادرج النص كما هو ثم اكتب: \"الاقتباس غير واضح/المرجع غير مذكور\" بدلاً من التخمين أو الإكمال.  \n- لا تُصدر أحكامًا فقهية أو عقدية نهائية إلا إذا طُلب منك ذلك صراحة وبما يتوافق مع ما ورد في النص.\n\nابدأ الآن بتحليل الترانسكربت وإنتاج المخرجات المنظمة بحسب القواعد أعلاه.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        304
      ],
      "id": "4c8d1f97-09f1-46c1-a0ae-3799fae97901",
      "name": "optimization2"
    },
    {
      "parameters": {
        "command": "rm -f /tmp/output_*.* && \\\nffmpeg -i /tmp/input_audio \\\n-ac 1 -ar 16000 \\\n-f segment \\\n-segment_time 300 \\\n-reset_timestamps 1 \\\n-c:a pcm_s16le \\\n/tmp/output_%03d.wav\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        592,
        -16
      ],
      "id": "cc9cc113-6c94-44d1-aefb-cced9d8fd39d",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/output_*.wav",
        "options": {
          "dataPropertyName": "audio"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -16,
        320
      ],
      "id": "a96d37db-f565-4b4a-9115-595058783f6d",
      "name": "Read/Write Files from Disk1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/input_audio",
        "dataPropertyName": "audio",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        368,
        -16
      ],
      "id": "9f14410a-cd41-49c5-a612-76bd815d1051",
      "name": "Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ],
      "id": "5bc9f2dd-0061-472b-95e8-c62a12ce5d3a",
      "name": "Authorization",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "OOQIUgXjyklwkRWh",
          "name": "Authorization"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "message": "Do you want to edit something?",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        704
      ],
      "id": "f7ac5fd0-66a7-4098-bd88-16894bbc63c0",
      "name": "Send a text message",
      "webhookId": "d026744b-78de-410b-a917-552e7510b3f3",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98d58a82-0d51-45be-a985-8cd86ad7ff20",
              "name": "edit_prompt",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        704
      ],
      "id": "30e42347-a096-418e-b20f-7f6359699cc0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "6526726666",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        288
      ],
      "id": "9f6eadf2-752c-4e2d-8402-d9d117d4df87",
      "name": "Send an optimized message2",
      "webhookId": "8078b984-1c4c-4d0a-a559-f54a4695336b",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "file": "audio",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        1520,
        688
      ],
      "id": "a2dc7a29-44bc-4780-868c-aeeb8e129645",
      "name": "Transcribe audio2",
      "credentials": {
        "elevenLabsApi": {
          "id": "2IlJ0UV7CwFeBuic",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        320
      ],
      "id": "6e6e33e8-c927-4f7e-b0c5-c909929414f6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        400
      ],
      "id": "76cb65bc-ad12-447a-a879-0ceea3d3ba18",
      "name": "Wait",
      "webhookId": "fdffcd9a-cc62-4c1e-b0be-b1d8222df831"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        224
      ],
      "id": "d2c53fe7-e3c1-49b9-a22b-7084ac476e32",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// استبدل 'transcript' باسم الحقل الصحيح من Whisper Node\nconst full = items.map(i => i.json.text).join(\"\\n\\n\"); // فصل كل مقطع بسطرين\n\nreturn [{ json: { fullTranscript: full } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        224
      ],
      "id": "723e608f-0767-4361-b2b1-ac9c13013dc7",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-09T09:11:09.561Z",
      "updatedAt": "2026-02-09T09:11:09.561Z",
      "role": "workflow:owner",
      "workflowId": "Wh0csYQLTyh9LCQT",
      "projectId": "MwHoDPY5SoqTt3hY"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-09T09:11:24.286Z",
      "updatedAt": "2026-02-09T09:11:24.286Z",
      "id": "3tbMFQhctP9UknU5",
      "name": "AI"
    },
    {
      "createdAt": "2026-02-11T16:46:23.244Z",
      "updatedAt": "2026-02-11T16:46:23.244Z",
      "id": "fsfPs2SHyIitL6re",
      "name": "https"
    },
    {
      "createdAt": "2026-02-09T09:11:18.276Z",
      "updatedAt": "2026-02-09T09:11:18.276Z",
      "id": "yQIVzhQcFfTzhUit",
      "name": "Telegram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-12T18:08:49.000Z",
  "versionId": "d73fc47f-885e-4f48-8ba7-243afdb5d542"
}