workflows/Transcript.json
{
  "active": false,
  "connections": {
    "Send a text message8": {
      "main": [
        [
          {
            "node": "Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        []
      ]
    },
    "Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorization": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Transcribe audio2": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message10": {
      "main": [
        [
          {
            "node": "Write Files to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger2": {
      "main": [
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Files to Disk": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send the transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "optimization": {
      "main": [
        [
          {
            "node": "Send the optimized text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send the transcription": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Read Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send the optimized text": {
      "main": [
        []
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "optimization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-09T09:11:09.540Z",
  "id": "Wh0csYQLTyh9LCQT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Transcript",
  "nodes": [
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "yie",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "audio",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2608,
        128
      ],
      "id": "2d6575c2-540f-4faf-95e6-e17b2b676aee",
      "name": "Send a text message8",
      "webhookId": "4551dbef-5090-4897-b9ad-95b51e292524",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2384,
        128
      ],
      "id": "52bac7eb-1253-4725-881a-d0f35955ec85",
      "name": "Telegram Trigger1",
      "webhookId": "5abf590c-2cde-43b7-87e9-7be155312ad8",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "rm -f /tmp/output_*.* && \\\nffmpeg -i /tmp/input_audio \\\n-ac 1 -ar 16000 \\\n-f segment \\\n-segment_time 300 \\\n-reset_timestamps 1 \\\n-c:a pcm_s16le \\\n/tmp/output_%03d.wav\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3024,
        128
      ],
      "id": "cc9cc113-6c94-44d1-aefb-cced9d8fd39d",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/input_audio.wav",
        "options": {
          "dataPropertyName": "audio"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3216,
        128
      ],
      "id": "a96d37db-f565-4b4a-9115-595058783f6d",
      "name": "Read/Write Files from Disk1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/input_audio.wav",
        "dataPropertyName": "audio",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2800,
        128
      ],
      "id": "9f14410a-cd41-49c5-a612-76bd815d1051",
      "name": "Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ],
      "id": "5bc9f2dd-0061-472b-95e8-c62a12ce5d3a",
      "name": "Authorization",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "OOQIUgXjyklwkRWh",
          "name": "Authorization"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "message": "Do you want to edit something?",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        352
      ],
      "id": "f7ac5fd0-66a7-4098-bd88-16894bbc63c0",
      "name": "Send a text message",
      "webhookId": "d026744b-78de-410b-a917-552e7510b3f3",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98d58a82-0d51-45be-a985-8cd86ad7ff20",
              "name": "edit_prompt",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        352
      ],
      "id": "30e42347-a096-418e-b20f-7f6359699cc0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "file": "audio",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        2848,
        560
      ],
      "id": "a2dc7a29-44bc-4780-868c-aeeb8e129645",
      "name": "Transcribe audio2",
      "credentials": {
        "elevenLabsApi": {
          "id": "2IlJ0UV7CwFeBuic",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        320
      ],
      "id": "6e6e33e8-c927-4f7e-b0c5-c909929414f6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// استبدل 'transcript' باسم الحقل الصحيح من Whisper Node\nconst full = items.map(i => i.json.text).join(\"\\n\\n\"); // فصل كل مقطع بسطرين\n\nreturn [{ json: { fullTranscript: full } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        224
      ],
      "id": "723e608f-0767-4361-b2b1-ac9c13013dc7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "message": "Do you want to edit something?",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        576
      ],
      "id": "e027502c-eac9-45be-bdb1-8d55918b28bf",
      "name": "Send a text message1",
      "webhookId": "d026744b-78de-410b-a917-552e7510b3f3",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98d58a82-0d51-45be-a985-8cd86ad7ff20",
              "name": "edit_prompt",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        576
      ],
      "id": "57bd802a-699f-4878-958a-705d63577105",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "Fill the elements please",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "audio",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Do you want to optimize the audio or not?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Optimize it"
                  },
                  {
                    "option": "Send directly "
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "responseFormCustomCss": ":root {\n\t/* Typography - Switching to a more modern system stack */\n\t--font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t\n\t/* Font Sizes - Bumped up for accessibility */\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-input: 16px; /* Prevents iOS auto-zoom on focus */\n\t--font-size-header: 24px;\n\t--font-size-subheader: 16px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-error: 13px;\n\n\t/* Colors - Refined palette */\n\t--color-background: #f8fafc;        /* Soft Slate */\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #e2e8f0;\n\t--color-card-shadow: rgba(15, 23, 42, 0.08);\n\t\n\t--color-header: #1e293b;            /* Deep Slate */\n\t--color-label: #475569;\n\t--color-input-text: #1e293b;\n\t--color-input-border: #cbd5e1;\n\t\n\t--color-primary: #6366f1;           /* Modern Indigo */\n\t--color-primary-hover: #4f46e5;\n\t--color-focus-border: #818cf8;      /* Soft focus ring */\n\t\n\t--color-submit-btn-bg: var(--color-primary);\n\t--color-submit-btn-text: #ffffff;\n\t\n\t--color-error: #ef4444;             /* Vibrant Red */\n\t--color-required: #f43f5e;\n\t--color-success: #10b981;\n\n\t/* Shapes - Softer, friendlier edges */\n\t--border-radius-card: 12px;\n\t--border-radius-input: 8px;\n\t--border-radius-btn: 8px;\n\n\t/* Layout & Spacing */\n\t--container-width: 480px;           /* Slightly wider for comfort */\n\t--padding-card: 32px;               /* More \"breathing room\" */\n\t--submit-btn-height: 52px;\n\t\n\t/* Animation */\n\t--transition-speed: 0.2s ease-in-out;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -16
      ],
      "id": "d09bc819-9487-44c0-aa7f-23401cb530f2",
      "name": "Send a text message10",
      "webhookId": "4551dbef-5090-4897-b9ad-95b51e292524",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        272,
        -16
      ],
      "id": "ccc26169-6a8f-4436-96f6-a1cabf95ffd3",
      "name": "Telegram Trigger2",
      "webhookId": "5abf590c-2cde-43b7-87e9-7be155312ad8",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/input_audio",
        "dataPropertyName": "audio",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        688,
        -16
      ],
      "id": "e7d590d3-8ce8-4df3-8d0d-292a854c96a6",
      "name": "Write Files to Disk"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/output_*.wav",
        "options": {
          "dataPropertyName": "audio"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1104,
        -16
      ],
      "id": "6c91b87d-e08d-45ff-af3d-2cefc5f2457d",
      "name": "Read Files from Disk",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be73193c-7c91-4cd8-8611-a6dbe0ee6e46",
              "leftValue": "",
              "rightValue": "Optimize it",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        400
      ],
      "id": "98e6e307-e178-4696-b5ad-eb228d162308",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript').item.json.fullTranscript }}",
        "messages": {
          "messageValues": [
            {
              "message": "أعد صياغة وترتيب النص العشوائي التالي وتنسيقه ليظهر بأسلوب بحثي وشرعي دقيق، مع الالتزام الصارم بالتعليمات التالية:\n\nالمقدمة: ابدأ إجابتك بهذه العبارة حرفياً ولا تضف قبلها أي شيء: \"إليك النص الكامل المستخلص من المصادر مع وضع الآيات القرآنية في مواضعها الصحيحة بناءً على ما ورد في الشرح:\"\n\nتنسيق الآيات القرآنية: ضع جميع الآيات القرآنية بين أقواس معقوفة بهذا الشكل: {} ، وتأكد من إدراجها في سياقها الصحيح لتدعيم المعنى أو كدليل على الفكرة.\n\nالخط العريض (Bold): استخدم الخط العريض لتمييز المصطلحات الشرعية الأساسية، والكلمات المفتاحية، والاستنتاجات القوية (مثل: توحيد الربوبية، الخلق والملك والتدبير، باطل من عدة أوجه).\n\nالتقسيم والفقرات: قسّم النص إلى فقرات واضحة ومترابطة منطقياً (مثلاً: فقرة لعرض الفكرة أو الشبهة، فقرة للرد عليها، وفقرة للقواعد الشرعية).\n\nالأسلوب: حافظ على لغة عربية فصحى، رصينة، وأكاديمية متزنة تناسب النصوص الشرعية والعقدية.\n\nالنص المراد تنسيقه بناءً على هذه القواعد هو:\n\n*** مثال مرجعي ***\nليك النص الكامل المستخلص من المصادر مع وضع الآيات القرآنية في مواضعها الصحيحة بناءً على ما ورد في الشرح:  يجوز القبوريون صرف أي نوع من أنواع العبادة لغير الله، مثل التوسل والنذر والدعاء والذبح**، طالما أنهم يعتقدون أنه لا شريك له في **الخلق والملك والتدبير. وهم بذلك يقدمون النذور للقبور ويستغيثون بغير الله قائلين: \"مدد يا بدوي، مدد يا حسين\"، مبررين ذلك بأنهم لا يعتقدون في هؤلاء الخلق أو الملك.  وقد رد أهل السنة والجماعة عليهم بأن هذا التعريف (عدم وجود شريك في الخلق والملك والتدبير) هو توحيد الربوبية فقط**، وهو لا يكفي للدخول في الإسلام؛ فمن اكتفى بتوحيد الربوبية ولم يوحد الله في ألوهيته فقد كفر. والسبب في ذلك أن الرسل ما أُرسلت، وما حدثت الخصومة بينهم وبين أقوامهم، إلا لتثبيت **توحيد الألوهية. فالرسل لم تأتِ لتعرّف الأقوام بوجود الله فحسب، بل جاءت لتدعوهم لعبادته وحده، كما في قوله تعالى: {يَا أَيُّهَا النَّاسُ اعْبُدُوا رَبَّكُمْ الَّذِي خَلَقَكُمْ}.  لقد كان المشركون مقرين بتوحيد الربوبية، والدليل من القرآن أن الله أقام عليهم الحجة بقوله: {وَلَئِنْ سَأَلْتَهُمْ مَنْ خَلَقَ السَّمَاوَاتِ وَالْأَرْضَ لَيَقُولُنَّ اللَّهُ}. فهم معترفون بوجود الخالق والمدبر والمصرف للكون، حتى في تلبيتهم حول الكعبة كانوا يقولون: \"لا شريك لك، إلا شريكاً هو لك، تملكه وما ملك\". ومع ذلك، فإن هذا الإقرار لم ينفعهم لأنهم أشركوا في العبادة.  أما الشبهة الثانية التي يطرحها القبوريون، فهي ادعاؤهم أن المشركين لم يكونوا صادقين حين أقروا بأن الله هو الخالق والمدبر، بل كانوا يكذبون لإرضاء المسلمين. ويستدلون على ذلك بآيات يظهر فيها إنكار المشركين لشركهم يوم القيامة، مثل قوله تعالى: {وَاللَّهِ رَبِّنَا مَا كُنَّا مُشْرِكِينَ}.   والرد على هذا الادعاء بأنه **باطل من عدة أوجه**؛ فمنها أن الآيات القرآنية صريحة في إثبات أن هذا كان اعتقادهم الحقيقي، وقد رتب الله على هذا الإقرار إلزامهم وتوبيخهم. فلو كان كلامهم كذباً، لما قامت عليهم الحجة بكونهم يقرون بالخالق ثم يعبدون غيره.  ويجب التنبيه هنا إلى الفرق بين الفعل والفاعل في مسألة الكفر؛ فصرف العبادة لغير الله (كالدعاء أو الذبح أو النذر) هو فعل كفري. لكن الحكم على \"فاعل\" بعينه بأنه كافر له ضوابط وشروط، ويجب التأكد من انتفاء الموانع وتوافر الشروط قبل تكفير المعين. فطالب العلم يجب أن يتقيد بالدين لا بالهوى، فالكفر حكم شرعي لا يخضع للاستحسان البشري.  وقاعدة التحسين والتقبيح مرجعها إلى الله عز وجل، فلا يجوز أن نستحسن أمراً بآرائنا أو نغير الأحكام بتغير الأزمان والأهواء، بل الدين ثابت لا يتغير. ومن استحسن بعقله ما لم يشرعه الله فقد شرع، وهذا باطل."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        208
      ],
      "id": "4c8d1f97-09f1-46c1-a0ae-3799fae97901",
      "name": "optimization"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        208
      ],
      "id": "54f8ba05-6d15-4fc4-a44c-c1830327e64c",
      "name": "Send the optimized text",
      "webhookId": "afc531ac-5aa3-47f9-8e0d-c47f9eaf2b7e",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        416
      ],
      "id": "0f5ba1f9-2904-43d2-83df-a797b3752738",
      "name": "Send the transcription",
      "webhookId": "bc18e284-5fed-45da-bf4d-ab528aa65a88",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be73193c-7c91-4cd8-8611-a6dbe0ee6e46",
              "leftValue": "",
              "rightValue": "Optimize it",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        224
      ],
      "id": "16311a7d-7478-4f54-8943-b6e5e53cbb3a",
      "name": "IF"
    },
    {
      "parameters": {
        "command": "=rm -f /tmp/output_*.* && \\\nffmpeg -i /tmp/input_audio \\\n-ac 1 -ar 16000 \\\n-f segment \\\n-segment_time 300 \\\n-reset_timestamps 1 \\\n-c:a pcm_s16le \\\n/tmp/output_%03d.wav\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        -16
      ],
      "id": "24d9e2e6-b5b4-4550-8326-d9329f54f755",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "Do you want to change something in the text?",
        "responseType": "freeText",
        "options": {
          "responseFormCustomCss": ":root {\n\t/* Typography - Switching to a more modern system stack */\n\t--font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t\n\t/* Font Sizes - Bumped up for accessibility */\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-input: 16px; /* Prevents iOS auto-zoom on focus */\n\t--font-size-header: 24px;\n\t--font-size-subheader: 16px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-error: 13px;\n\n\t/* Colors - Refined palette */\n\t--color-background: #f8fafc;        /* Soft Slate */\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #e2e8f0;\n\t--color-card-shadow: rgba(15, 23, 42, 0.08);\n\t\n\t--color-header: #1e293b;            /* Deep Slate */\n\t--color-label: #475569;\n\t--color-input-text: #1e293b;\n\t--color-input-border: #cbd5e1;\n\t\n\t--color-primary: #6366f1;           /* Modern Indigo */\n\t--color-primary-hover: #4f46e5;\n\t--color-focus-border: #818cf8;      /* Soft focus ring */\n\t\n\t--color-submit-btn-bg: var(--color-primary);\n\t--color-submit-btn-text: #ffffff;\n\t\n\t--color-error: #ef4444;             /* Vibrant Red */\n\t--color-required: #f43f5e;\n\t--color-success: #10b981;\n\n\t/* Shapes - Softer, friendlier edges */\n\t--border-radius-card: 12px;\n\t--border-radius-input: 8px;\n\t--border-radius-btn: 8px;\n\n\t/* Layout & Spacing */\n\t--container-width: 480px;           /* Slightly wider for comfort */\n\t--padding-card: 32px;               /* More \"breathing room\" */\n\t--submit-btn-height: 52px;\n\t\n\t/* Animation */\n\t--transition-speed: 0.2s ease-in-out;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        192
      ],
      "id": "1c7d87d0-fb2c-4589-af4a-53404231e40e",
      "name": "Send a text message11",
      "webhookId": "4551dbef-5090-4897-b9ad-95b51e292524",
      "credentials": {
        "telegramApi": {
          "id": "KeeQXdCrbf3k25IK",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1104,
        448
      ],
      "id": "20e7e664-3ab8-41ee-9355-2cd40846d673",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "BydLlZ8E9UmD3tL5",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-09T09:11:09.561Z",
      "updatedAt": "2026-02-09T09:11:09.561Z",
      "role": "workflow:owner",
      "workflowId": "Wh0csYQLTyh9LCQT",
      "projectId": "MwHoDPY5SoqTt3hY"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-09T09:11:24.286Z",
      "updatedAt": "2026-02-09T09:11:24.286Z",
      "id": "3tbMFQhctP9UknU5",
      "name": "AI"
    },
    {
      "createdAt": "2026-02-11T16:46:23.244Z",
      "updatedAt": "2026-02-11T16:46:23.244Z",
      "id": "fsfPs2SHyIitL6re",
      "name": "https"
    },
    {
      "createdAt": "2026-02-09T09:11:18.276Z",
      "updatedAt": "2026-02-09T09:11:18.276Z",
      "id": "yQIVzhQcFfTzhUit",
      "name": "Telegram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-15T06:28:46.000Z",
  "versionId": "ef08b974-39e5-46d7-9886-9a9d87aaf8ed"
}